{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}

    {{inventory-typeahead model=model property="itemName" label=(t 'imaging.labels.medicationUsed') content=medicationList selection=selectedInventoryItem class="medication-used"}}
    {{number-input model=model label=(t 'labels.quantity') property="quantity" class="required medication-quantity"}}

    <br>

  <p><b>{{t 'imaging.labels.measurements'}}</b></p>
  <input  id="lista" list="browsers" name="browser" selection="medidaItem">
  <datalist id="browsers">
    <option value="Aerosol"></option>
    <option value="Ampolla"></option>
    <option value="Bandeja"></option>
    <option value="Bolsa"></option>
    <option value="Botella"></option>
    <option value="Caja"></option>
    <option value="Capsula"></option>
    <option value="Caso"></option>
    <option value="Contenedor"></option>
    <option value="Crema"></option>
    <option value="Caballo"></option>
    <option value="Frasco"></option>
    <option value="Gel"></option>
    <option value="Manojo"></option>
    <option value="Ungüento"></option>
    <option value="Empacar"></option>
    <option value="Palet"></option>
    <option value="Par"></option>
    <option value="Parche"></option>
    <option value="Piezas"></option>
    <option value="Pildora"></option>
    <option value="Plastico"></option>
    <option value="Polyamp"></option>
    <option value="Rollo"></option>
    <option value="Set"></option>
    <option value="Supositorio"></option>
    <option value="Suspension"></option>
    <option value="Jarabe"></option>
    <option value="Tableta"></option>
  </datalist>

  {{/modal-dialog}}
