{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false as |form|}}
    {{#if model.selectPatient}}
      {{patient-typeahead model=model property="patientTypeAhead" label=(t 'models.patient.names.singular') content=patientList selection=selectedPatient class="required test-patient-input"}}
    {{else}}
      {{patient-summary patient=model.patient returnTo='appointments.edit' returnToContext=model.id disablePatientLink=model.isNew class="clickable"}}
    {{/if}}

    {{#if (eq model.appointmentType 'Surgery')}}
      <div class="row">
        {{select-or-typeahead className="col-sm-6 test-appointment-with" form=form model=model property="provider"
          label=(t 'models.appointment.labels.provider') list=physicianList
          selection=model.provider
        }}
        {{select-or-typeahead className="col-sm-6 test-appointment-location" form=form model=model property="location"
          label=(t 'models.appointment.labels.location') list=surgeryLocationList
          selection=model.location
        }}
      </div>
    {{else}}
      <div class="row">
        {{form.select
          content=visitTypes
          optionLabelPath='value'
          optionValuePath='id'
          property='appointmentType'
          class='form-input-group col-sm-6 required test-appointment-type'
          label=(t 'models.appointment.labels.type')
          id='appointmentType'
          action=(action 'appointmentTypeChanged')
        }}
        {{select-or-typeahead className="col-sm-6 test-appointment-with" form=form model=model property="provider"
          label=(t 'models.appointment.labels.provider') list=physicianList
          selection=model.provider
        }}
      </div>
    {{/if}}
    <div class="row">
      {{#if isAdmissionAppointment}}
        {{date-picker property="startDate" label=(t 'models.appointment.labels.startDate') showTime=showTime class="col-sm-4 required test-appointment-start"}}
      {{else}}
        {{date-time-picker datePickerClass="required test-appointment-date" label=(t 'labels.date') model=model}}
      {{/if}}
      {{em-checkbox label=(t 'models.appointment.labels.allDay') property="allDay"  class="col-sm-2 appointment-all-day"}}
    </div>
    <div class="row">
      {{select-or-typeahead className="col-sm-6 test-appointment-location" form=form model=model property="location"
        label=(t 'models.appointment.labels.contactNumber') list=visitLocationList
        selection=model.location
      }}
      {{form.select class="form-input-group col-sm-3 test-appointment-status" property="status"
        label=(t 'models.appointment.labels.status') content=appointmentStatuses
      }}
      {{form.select class="form-input-group col-sm-3 test-appointment-status" property="turnos"
        label=(t 'models.appointment.labels.turn') content=appointmentTurnos
      }}
    </div>
    {{expand-text label=(t 'models.appointment.labels.notes') property="notes" rows=3 form=form}}
  {{/em-form}}
{{/edit-panel}}
