{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false as |form|}}
    {{partial 'inventory-basic'}}
    {{#if model.isNew}}
      <h3>{{t 'inventory.labels.purchaseInfo'}}</h3>
      {{partial 'inv-purchase'}}
    {{else}}
      {{#if quantityDiscrepency}}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" class="octicon octicon-x"></span><span class="sr-only">{{t 'buttons.close'}}</span></button>
          <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            {{t 'inventory.messages.quantity' quantity=model.quantity locationQuantity=locationQuantityTotal}}
          </p>
          <p>{{t 'inventory.messages.adjust' difference=quantityDifferential}}</p>
        </div>
      {{/if}}
      <h3>
        {{t 'inventory.labels.purchases'}}
        {{#if canAddPurchase}}
          <button class="btn btn-primary align-right" {{action "showAddPurchase" model}}><span class="octicon octicon-plus"></span> {{t 'inventory.titles.addPurchase'}}</button>
        {{/if}}
      </h3>
      <table class="table">
        <tr class="table-header">
          <th>{{t 'inventory.labels.dateReceived'}}</th>
          <th>{{t 'inventory.labels.purchaseCost'}}</th>
          <th>{{t 'inventory.labels.costPerUnit'}}</th>
          <th>{{t 'inventory.labels.originalQuantity'}}</th>
          <th>{{t 'inventory.labels.currentQuantity'}}</th>
          <th>{{t 'inventory.labels.gift'}}</th>
          <th>{{t 'inventory.labels.serialNumber'}}</th>
          <th>{{t 'inventory.labels.expirationDate'}}</th>
          <th>{{t 'inventory.labels.vendor'}}</th>
          <th>{{t 'inventory.labels.invoiceNumber'}}</th>
        </tr>
        {{#each model.purchases as |purchase|}}
          <tr class={{if purchase.expired "warning"}}>
            <td>{{date-format purchase.dateReceived}}</td>
            <td>{{purchase.purchaseCost}}</td>
            <td>{{purchase.costPerUnit}}</td>
            <td>{{purchase.originalQuantity}}</td>
            <td>{{purchase.currentQuantity}}</td>
            <td>
              {{#if purchase.giftInKind}}
                {{t 'inventory.labels.giftInKindYes'}}
              {{else}}
                {{t 'inventory.labels.giftInKindNo'}}
              {{/if}}
            </td>
            <td>{{purchase.lotNumber}}</td>
            <td>{{date-format purchase.expirationDate}}</td>
            <td>{{purchase.vendor}}</td>
            <td>{{purchase.invoiceNo}}</td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
    {{#unless model.isNew}}
      <h3>{{t 'inventory.labels.locations'}}</h3>
      <table class="table">
        <tr class="table-header">
          <th>{{t 'inventory.labels.location'}}</th>
          <th>{{t 'inventory.labels.aisleLocation'}}</th>
          <th>{{t 'labels.quantity'}}</th>
          {{#if canAdjustLocation}}
            <th>{{t 'labels.action'}}</th>
          {{/if}}
        </tr>
        {{#each model.locations as |location|}}
          {{#if location.quantity}}
            <tr>
              <td>{{location.location}}</td>
              <td>{{location.aisleLocation}}</td>
              <td>{{location.quantity}}</td>
              {{#if canAdjustLocation}}
                <td>
                  <button class="btn btn-primary neutral" {{action "showAdjustment" location}}>{{t 'inventory.labels.adjust'}}</button>
                  <button class="btn btn-primary btn-extra" {{action "showTransfer" location}}>{{t 'inventory.labels.transfer'}}</button>
                  {{#unless location.quantity}}
                  <button class="btn btn-default warning" {{action 'deleteItem' location
                    bubbles=false }}><span class="octicon octicon-x"></span> {{t 'buttons.delete'}}</button>
                  {{/unless}}
                </td>
              {{/if}}
            </tr>
         {{/if}}
        {{/each}}
      </table>
      {{#if showTransactions}}
        <h3>{{t 'inventory.labels.transactions'}}</h3>
        <table class="table">
          <tr class="table-header">
            <th>{{t 'inventory.labels.dateCompleted'}}</th>
            <th>{{t 'labels.quantity'}}</th>
            <th>{{t 'inventory.labels.transaction'}}</th>
            <th>{{t 'inventory.labels.expense'}}</th>
            <th>{{t 'inventory.labels.details'}}</th>
          </tr>
          {{#if haveTransactions}}
            {{#each transactions as |transaction|}}
              <tr>
                <td>{{date-format transaction.dateCompleted}}</td>
                <td>{{transaction.quantity}}</td>
                <td>{{transaction.transactionType}}</td>
                <td>{{transaction.expenseAccount}}</td>
                <td>
                  {{#if transaction.isAdjustment}}
                    {{#if transaction.haveReason}}
                      <strong>{{t 'inventory.edit.reason'}}</strong> {{transaction.reason}}<br>
                    {{/if}}
                    {{#if transaction.patient}}
                      <strong>{{t 'inventory.edit.returned'}}</strong> {{transaction.deliveryDetails}}
                    {{else}}
                      <strong>{{t 'inventory.edit.location'}}</strong> {{transaction.deliveryDetails}}
                    {{/if}}
                  {{/if}}
                  {{#if transaction.isFulfillment}}
                    <strong>{{t 'inventory.edit.cost'}}</strong> {{transaction.costPerUnit}}<br>
                    <strong>{{t 'inventory.edit.quantity'}}</strong> {{transaction.quantityAtCompletion}}<br>
                    <strong>{{t 'inventory.edit.pulled'}}</strong>
                    {{#each transaction.locationsAffected as |location|}}
                      {{location.name}}<br>
                    {{/each}}
                    {{#if transaction.patient}}
                      <strong>{{t 'inventory.edit.prescription'}}</strong> {{transaction.deliveryDetails}}
                    {{else}}
                      <strong>{{t 'inventory.edit.delivered'}}</strong> {{transaction.deliveryDetails}}
                    {{/if}}
                  {{/if}}
                  {{#if transaction.isTransfer}}
                    <strong>{{t 'inventory.edit.transferredFrom'}}</strong>
                    {{#each transaction.locationsAffected as |location|}}
                      {{location.name}}<br>
                    {{/each}}
                    <strong>{{t 'inventory.edit.transferredTo'}}</strong> {{transaction.deliveryDetails}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="4"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{t 'inventory.messages.loading'}}</td>
            </tr>
          {{/if}}
        </table>
      {{/if}}
    {{/unless}}
  {{/em-form}}
{{/edit-panel}}
