{{#item-listing paginationProps=paginationProps}}
  {{#if model}}
    <table class="table procmed-completed-table">
      <tr class="table-header">
        <th>{{t 'labels.dateRequested'}}</th>
        <th>{{t 'labels.dateCompleted'}}</th>
        <th>{{t 'labels.requestedBy'}}</th>
        <th>{{t 'labels.patient'}}</th>
        <th>{{t 'labels.procedureType'}}</th>
        <th>{{t 'labels.results'}}</th>
        <th>{{t 'labels.notes'}}</th>
      </tr>
      {{#each model as |procmed|}}
        {{procmed/completed/completed-list-item procmed=procmed}}
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'procmed.messages.noCompleted'}}</p>
    </div>
  {{/if}}
{{/item-listing}}
