{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <tr class="table-header">
        <th class="col-xs-2">{{t 'labels.dateRequested'}}</th>
        <th class="col-xs-2">{{t 'labels.requestedBy'}}</th>
        <th class="col-xs-2">{{t 'labels.patient'}}</th>
        <th class="col-xs-2">{{t 'labels.procedureType'}}</th>
        <th class="col-xs-2">{{t 'labels.notes'}}</th>
        {{#if showActions}}
          <th class="col-xs-2">{{t 'labels.actions'}}</th>
        {{/if}}
      </tr>
      {{#each model as |procmed|}}
        {{procmed/index/requested-list-item
          procmed=procmed
          action="editItem"
          showActions=showActions
          canEdit=canEdit}}
      {{/each}}
    </table>
  {{else}}
    <div class="alert alert-info">
      <p>{{t 'messages.noItemsFound'}} {{#if canAdd}} <a href="#" {{action 'newItem'}}>{{t 'messages.createNewRecord'}}</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
