<div class="report-header">
  {{#if logoURL}}
    <img src={{logoURL}} class="report-logo">
  {{/if}}
  {{#if facilityName }}
    <h3>{{facilityName}}</h3>
  {{/if}}
  {{#if headerLine1}}
    <span>{{headerLine1}}</span><br>
  {{/if}}
  {{#if headerLine2}}
    <span>{{headerLine2}}</span><br>
  {{/if}}
  {{#if headerLine3}}
    <span>{{headerLine3}}</span><br>
  {{/if}}
  {{#if isOutPatient}}
    <h3>{{t 'reports.titles.opdTitle' }}</h3>
  {{else}}
    <h3>{{t 'reports.titles.dischargeReport' }}</h3>
  {{/if}}
</div>
<div class="report">
  {{#edit-panel editPanelProps=editPanelProps}}
    {{#em-form model=model submitButton=false}}
      {{#if model.patient}}
        {{patient-summary
          patient=model.patient
          disablePatientLink=true
          diagnosisContainer=diagnosisContainer
          diagnosisList=diagnosisList
        }}
      {{/if}}

      <div class="ps-info-group test-visit-date">
        <label class="ps-info-label test-visit-date-label">
          {{#if isOutPatient}}
            {{t 'reports.form.visitDate' }}:
          {{else}}
            {{t 'reports.form.admissionDate' }}:
          {{/if}}
        </label>
        <span class="test-visit-date-data">{{date-format visit.startDate format="DD/MM/YYYY"}}</span>
      </div>

      {{#if isOutPatient}}

        {{#if visit.procedures}}
          <div class="ps-info-group test-opd-procedure">
            <label class="ps-info-label test-opd-procedure-label">{{t 'reports.form.procedures' }}</label>
            <ul>
              {{#each visit.procedures as |item|}}
                <li class="test-opd-procedure-data">{{item.description}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if visit.labs}}
          <div class="ps-info-group test-labs">
            <label class="ps-info-label test-labs-label">{{t 'reports.form.labs' }}</label>
            <ul>
              {{#each visit.labs as |item|}}
                <li class="test-labs-data">{{item.labType.name}}-{{item.result}} ({{item.status}})</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if visit.imaging}}
          <div class="ps-info-group test-images">
            <label class="ps-info-label test-images-label">{{t 'reports.form.images' }}</label>
            <ul>
              {{#each visit.imaging as |item|}}
                <li class="test-images-data">{{item.imagingType.name}}-{{item.result}} ({{item.status}})</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if visit.medication}}
          <div class="ps-info-group test-medication">
            <label class="ps-info-label test-medication-label">{{t 'reports.form.medications' }}</label>
            <ul>
              {{#each visit.medication as |medication|}}
                <li class="test-medication-data">{{medication.medicationName}} - {{medication.prescription}} ({{medication.status}})</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if nextAppointments}}
          <div class="ps-info-group test-appointment">
            <label class="ps-info-label test-appointment-label">{{t 'reports.form.nextAppointments' }}</label>
            <ul>
              {{#each nextAppointments as |appointment|}}
                <li class="test-appointment-data">
                  {{date-format appointment.startDate format="DD/MM/YYYY hh:mm a"}}
                  {{#if appointment.appointmentType}}
                    (<b>{{appointment.appointmentType}}</b>)
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if currentOperativePlan}}
          <div class="ps-info-group test-operative-plan">
            <label class="ps-info-label test-operative-plan-label">{{t 'reports.form.operativePlan.title' }}</label>
            <ul>
              {{#if currentOperativePlan.operationDescription}}
                <li>
                  <p><b class="test-operative-plan-description-label">{{t 'reports.form.operativePlan.description' }}:</b><br>
                    <span class="test-operative-plan-description-data">{{currentOperativePlan.operationDescription}}</span></p>
                </li>
              {{/if}}

              <li>
                <p><b class="test-operative-plan-procedures-label">{{t 'reports.form.operativePlan.procedures' }}:</b></p>
                <ul>
                  {{#each currentOperativePlan.procedures as |procedure|}}
                    <li class="test-operative-plan-procedures-description">{{procedure.description}}</li>
                  {{/each}}
                </ul>
              </li>

              {{#if currentOperativePlan.admissionInstructions}}
                <li>
                  <p><b class="test-operative-plan-instructions-label">{{t 'reports.form.operativePlan.instructions' }}:</b><br>
                    <span class="test-operative-plan-instructions-data">{{currentOperativePlan.admissionInstructions}}</span></p>
                </li>
              {{/if}}
            </ul>
          </div>
        {{/if}}

        {{custom-form-manager model=model formType="opdReport"}}

      {{else}}

        <div class="ps-info-group test-visit-date">
          <label class="ps-info-label test-visit-discharge-date-label">{{t 'reports.form.dischargeDate' }}: </label>
          <span class="test-visit-discharge-date-data">{{date-format model.reportDate format="DD/MM/YYYY"}}</span>
        </div>

        <div class="row">
          {{select-or-typeahead className="col-sm-4" property="surgeon"
                                label=(t "operativePlan.labels.surgeon") list=physicianList
                                selection=model.surgeon
                                class="plan-surgeon"
          }}
        </div>

        {{#if patientProcedures}}
          <label class="ps-info-label">{{t 'reports.form.allProcedures'}}</label>
          <ul>
            {{#each patientProcedures as |procedure|}}
              <li>{{procedure.description}} -
                {{#if procedure.procedureDate }}
                  {{date-format procedure.procedureDate format="DD/MM/YYYY"}}
                {{/if}}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if visit.patientNotes}}
          <div class="ps-info-group test-notes">
            <label class="ps-info-label test-notes-label">{{t 'reports.form.notes.title' }}</label>
            <ul>
              {{#each visit.patientNotes as |note|}}
                <li class="test-notes-data">
                  <b>{{t 'reports.form.notes.date' }}:</b> {{date-format note.date}}<br>
                  <b>{{t 'reports.form.notes.author' }}:</b> {{note.authoredBy}}<br>
                  <b>{{note.noteType}}: {{note.content}}</b>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if nextAppointment}}
          <div class="ps-info-group">
            <label class="ps-info-label">{{t 'reports.form.nextAppointment' }}:</label>
            {{date-format nextAppointment.startDate format="DD/MM/YYYY hh:mm a"}}
            {{#if nextAppointment.location}}
              ({{nextAppointment.location}})
            {{/if}}
          </div>
        {{/if}}

        {{custom-form-manager model=model formType="dischargeReport"}}

        {{#if model.modifiedBy}}
          <div class="ps-info-group">
            <label class="ps-info-label">{{t 'reports.form.completedBy' }}:</label>
            {{model.modifiedBy}}
          </div>
        {{/if}}

      {{/if}}
    {{/em-form}}
  {{/edit-panel}}
</div>