{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false }}
    {{#if model.selectPatient}}
      {{patient-typeahead property="patientTypeAhead" label=(t 'labels.patient')content=patientList selection=selectedPatient class="required patient-input"}}
    {{else}}
      {{patient-summary patient=model.patient returnTo='imaging.edit' returnToContext=model.id disablePatientLink=model.isNew }}
    {{/if}}

      <div class="row">
        {{em-select class="col-xs-3 required" label=(t 'labels.visit')
          property="visit" content=patientVisitsForSelect
          optionValuePath="selectObject" optionLabelPath="selectObject.visitDescription"
          prompt=(t 'imaging.labels.addNewVisit')
          selected=model.visit
        }}
      </div>
      {{checkbox-or-typeahead property="imagingTypeName"
        label=(t 'labels.imagingType') list=objectTypeList
        selection=selectedImagingType
        optionLabelPath='name'
        typeAheadType='pricing'
        className="required"
        prompt=" "
        model=model
        class="imaging-type-input"
      }}



    {{#if canComplete}}
      {{select-or-typeahead property="enfermero"
        label=(t 'imaging.labels.nurse') list=enfermeroList
        prompt=" "
        class="enfermero-input"
      }}

      {{select-or-typeahead property="tipoProcedimientoEnfermeria"
        label=(t 'imaging.labels.nurseProcedureType') list=tipoProcedimientoEnfermeriaList
        prompt=" "
        class="tipoProcedimientoEnfermeria-input"
      }}

      {{em-input property="result" label=(t 'labels.result') class="result-input"}}

      {{em-text property="notes" label=(t 'labels.notes') rows=3 }}

{{/if}}
<div class="panel detail-section medication-charges">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{t 'imaging.titles.medicationUsed'}}

        <button class="btn btn-primary align-right" {{action "showAddMedication" bubbles=false }}>
          <span class="octicon octicon-plus"></span>{{t 'imaging.buttons.addMedication'}}
        </button>

    </h3>
  </div>
  <div class="panel-body detail-section-content">
    <table class="table">
      <tr class="table-header">
        <th>{{t 'inventory.labels.item'}}</th>
        <th>{{t 'labels.quantity'}}</th>
        <th>{{t 'labels.measure'}}</th>
        <th>{{t 'labels.action'}}</th>
      </tr>
      {{#each model.charges as |charge|}}
        {{#if charge.medicationCharge}}
          <tr>
            <td>{{charge.medicationName}}</td>
            <td class="medication-charge-quantity">{{charge.quantity}}</td>
            <td>{{charge.medida}}</td>
            <td>

                <button class="btn btn-default neutral" {{action "showEditMedication" charge}}>{{t 'labels.edit'}}</button>


                <button class="btn btn-default warning" {{action "showDeleteMedication" charge bubbles=false }}>
                  <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                </button>
              
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
  </div>
</div>

  {{/em-form}}
{{/edit-panel}}
