<header class="sidebar-nav-header">
  <a class="sidebar-nav-logo" href="#">
    <br>
    <img src="logo_transparente.png"  alt="{{t 'common.organization'}}" height="40" width="200">
  </a>
  <a href="#" class="settings-trigger {{if isShowingSettings 'active'}}" {{action 'toggleSettings'}}>
    <span class="mega-octicon octicon-gear"></span>
  </a>
  {{#if isShowingSettings }}
    <nav class="settings-nav">
      {{#if session.isAuthenticated}}
        <a href="#" class="logout" {{ action 'invalidateSession' }}>{{t "navigation.actions.logout"}}</a>
        {{language-select onFinish=(action 'toggleSettings')}}
      {{else}}
        {{#link-to 'login'}}{{t "navigation.actions.login"}}{{/link-to}}
      {{/if}}
      <a href="#" {{ action 'about' }}>{{t "navigation.about"}}</a>
    </nav>
  {{/if}}

  <h4 style="text-align: center">{{t 'common.welcome'}} <b>{{userName}}</b></h4>
</header>
