{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false as |form|}}
    {{#if model.selectPatient}}
      {{patient-typeahead model=model property="patientTypeAhead" label=(t 'labels.patient') content=patientList selection=selectedPatient class="required test-patient-name"}}
    {{else}}
      {{patient-summary patient=model.patient returnTo='labs.edit' returnToContext=model.id disablePatientLink=model.isNew class="clickable"}}
    {{/if}}
    {{#if model.isNew}}
      <div class="row">
        {{form.select class="col-xs-3 required form-input-group test-visit-type" label=(t 'labels.visit')
          property="visit" content=patientVisitsForSelect
          optionValuePath="selectObject" optionLabelPath="selectObject.visitDescription"
          prompt=(t 'labs.labels.addNewVisit')
          selected=model.visit
        }}
      </div>
      {{checkbox-or-typeahead property="labTypeName"
        label=(t 'labs.labels.labType') list=objectTypeList
        selection=selectedLabType
        optionLabelPath='name'
        typeAheadType='pricing'
        className="required test-lab-type"
        prompt=" "
        model=model
      }}
    {{else}}
      <div class="row">
        <div class="form-group col-xs-3">
          <label>{{t 'labels.visit'}}</label>
          <p class="form-control-static">{{model.visit.visitDate}}</p>
        </div>
        <div class="form-group col-xs-6">
          <label>{{t 'labs.labels.labType'}}</label>
          <p class="form-control-static">{{model.labType.name}}</p>
        </div>
        <div class="form-group col-xs-9">
          <label>{{t 'labels.requestedBy'}}</label>
          <p class="form-control-static">{{model.requestedBy}}</p>
        </div>
      </div>
    {{/if}}
    {{#if canComplete}}
      {{form.input property="result" label=(t 'labels.result') class="test-result-input"}}
    {{else}}
      {{#if isCompleted}}
        <div class="row">
          <div class="form-group col-xs-3">
            <label>{{t 'labels.result'}}</label>
            <p class="form-control-static">{{model.result}}</p>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if isCompleted}}
      <div class="row">
        <div class="form-group col-xs-3">
          <label>{{t 'labels.notes'}}</label>
          <p class="form-control-static">{{model.notes}}</p>
        </div>
      </div>
    {{else}}
      {{expand-text property="notes" label=(t 'labels.notes') rows=3 form=form class="js-lab-notes"}}
      {{em-input property="result" label=(t 'labels.result') class="test-result-input"}}
    {{/if}}
    {{custom-form-manager model=model formType="lab" rapidForm=form isReadonly=isCompleted}}
  {{/em-form}}
{{/edit-panel}}
