{{#modal-dialog
    hideCancelButton=hideCancelButton
    isUpdateDisabled=isUpdateDisabled
    title=title
    updateButtonAction=updateButtonAction
    updateButtonText=updateButtonText }}
  {{#em-form model=model submitButton=false as |form|}}
    <div class="row">
      {{date-picker model=model property="dateRecorded" label=(t "vitals.labels.dateRecorded") class="col-sm-6" format="l h:mm A" showTime=true }}
    </div>
    <div class="row">
      {{number-input model=model class="col-sm-3 required temperature-text" property="temperature" label=temperatureLabel }}
      {{number-input model=model class="col-sm-3 cefalica-text" property="cefalica" label=(t "vitals.labels.cefalica")}}
    </div>
    <div class="row">
      {{form.input model=model class="col-sm-3 weight-text" property="weight" label=(t "vitals.labels.weight")}}
      {{form.input model=model class="col-sm-3 height-text" property="height" label=(t "vitals.labels.height")}}
    </div>
    <div class="row">
      {{form.input model=model class="col-sm-3 sbp-text" property="sbp" label=(t "vitals.labels.sbp")}}
      {{form.input model=model class="col-sm-3 dbp-text" property="dbp" label=(t "vitals.labels.dbp")}}
    </div>
    <div class="row">
      {{number-input model=model class="col-sm-3 heart-rate-text" property="heartRate" label=(t "vitals.labels.heartRate")}}
      {{number-input model=model class="col-sm-3 respiratory-rate-text" property="respiratoryRate" label=(t "vitals.labels.respiratoryRate")}}
    </div>
    <div class="row">
      {{number-input model=model class="col-sm-3 imc-rate-text" property="imc" label=(t "vitals.labels.imc")}}
      {{number-input model=model class="col-sm-3 sat-rate-text" property="sat" label=(t "vitals.labels.sat")}}
    </div>
    <div class="row">
      {{number-input model=model class="col-sm-3 pulso-rate-text" property="pulso" label=(t "vitals.labels.pulso")}}
    </div>
  {{/em-form}}
{{/modal-dialog}}
