<td class="requested-date">{{date-format imaging.requestedDate}}</td>
<td class="imaging-date">{{date-format imaging.imagingDate}}</td>
<td class="requested-by">{{imaging.requestedBy}}</td>
<td class="display-name">{{imaging.patient.displayName}}</td>
<td class="type">{{imaging.tipoProcedimientoEnfermeria}}</td>
<td class="results">{{imaging.result}}</td>
<td class="notes">{{imaging.notes}}</td>
