{{#item-listing paginationProps=paginationProps }}
  {{#if hasRecords}}
    <table class="table">
      <thead>
        <tr class="table-header">
          {{#sortable-column sortBy='cedula' sortDesc=sortDesc sortKey=sortKey }}{{t 'patients.labels.documentNumber'}}{{/sortable-column}}
          {{#sortable-column sortBy='firstName' sortDesc=sortDesc sortKey=sortKey }}{{t 'patients.labels.firstName'}}{{/sortable-column}}
          {{#sortable-column sortBy='lastName' sortDesc=sortDesc sortKey=sortKey }}{{t 'patients.labels.lastName'}}{{/sortable-column}}
          {{#sortable-column sortBy='sex' sortDesc=sortDesc sortKey=sortKey }}{{t 'patients.labels.sex'}}{{/sortable-column}}
          {{#sortable-column sortBy='dateOfBirth' sortDesc=sortDesc sortKey=sortKey }}{{t 'patients.labels.dob'}}{{/sortable-column}}
          {{#if showActions}}
            <th>{{t 'labels.actions'}}</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each model as |patient|}}
          <tr {{action 'editItem' patient}} class="clickable">
            <td>{{patient.cedula}}</td>
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.sex}}</td>
            <td>{{date-format patient.dateOfBirth}}</td>
            {{#if showActions}}
              <td>
                {{#if canAdd}}
                  <button class="btn btn-default neutral" {{action 'editItem' patient  bubbles=false }}>{{t 'labels.edit'}}</button>
                {{/if}}
                {{#if patient.admitted}}
                  {{#if canDischargePatient}}
                    <button class="btn btn-primary info" {{action 'dischargePatient' patient  bubbles=false }}><span class="glyphicon glyphicon-log-out"></span> {{t 'visits.buttons.discharge'}}</button>
                  {{/if}}
                {{else}}
                  {{#if patient.checkedIn}}
                    {{#if canDischargePatient}}
                      <button class="btn btn-primary info" {{action 'checkoutPatient' patient  bubbles=false }}><span class="glyphicon glyphicon-log-out"></span> {{t 'visits.buttons.checkOut'}}</button>
                    {{/if}}
                  {{else}}
                  {{/if}}
                {{/if}}
                {{#if canDelete}}
                  <button class="btn btn-default warning" {{action 'deleteItem' patient  bubbles=false }}><span class="octicon octicon-x"></span> {{t 'buttons.delete'}}</button>
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="alert alert-info" data-test-selector="no-patients-found">
      <p>{{t 'patients.messages.noPatientsFound'}}{{#if canAdd}} <a href="#" {{action 'newItem'}}>{{t 'patients.messages.createNewPatient'}}</a>{{/if}}</p>
    </div>
  {{/if}}
{{/item-listing}}
