{{#item-listing paginationProps=paginationProps }}
  <table class="table">
    <tr class="table-header">
      <th>{{t 'models.appointment.labels.appointmentDate'}}</th>
      <th>{{t 'models.patient.labels.name'}}</th>
      <th>{{t 'models.appointment.labels.type'}}</th>
      <th>{{t 'models.appointment.labels.contactNumber'}}</th>
      <th>{{t 'models.appointment.labels.provider'}}</th>
      <th>{{t 'models.appointment.labels.status'}}</th>
      <th>{{t 'models.appointment.labels.turn'}}</th>
      <th>{{t 'labels.actions'}}</th>
    </tr>
    {{#each model as |appointment|}}
      {{partial 'appointments/item'}}
    {{/each}}
  </table>
{{/item-listing}}
