<table class="table">
  <tr class="table-header">
    <th>{{t 'labels.dateRequested'}}</th>
    <th>{{t 'labels.imagingType'}}</th>
    <th>{{t 'labels.status'}}</th>
    <th>{{t 'patients.labels.dateProcessed'}}</th>
    <th>{{t 'labels.result'}}</th>
    <th>{{t 'labels.notes'}}</th>
    <th>{{t 'labels.requestedBy'}}</th>
    <th>{{t 'labels.actions'}}</th>
  </tr>
  {{#each patientImaging as |imaging|}}
    <tr {{action "editImaging" imaging}} class="{{if imaging.canEdit (if canAddImaging "clickable")}}">
      <td>{{date-format imaging.requestedDate}}</td>
      <td>{{imaging.imagingType.name}}</td>
      <td>{{imaging.typeOfNursingProcedure}}</td>
      <td>{{imaging.status}}</td>
      <td>{{date-format imaging.imagingDate}}</td>
      <td>{{imaging.result}}</td>
      <td>{{imaging.notes}}</td>
      <td>{{imaging.requestedBy}}</td>
      <td>
        {{#if imaging.canEdit}}
          {{#if canAddImaging}}
            <button type="button" class="btn btn-default neutral" {{action "editImaging" imaging}}>{{t 'labels.edit'}}</button>
          {{/if}}
          {{#if canDeleteImaging}}
            <button type="button" class="btn btn-default warning" {{action "showDeleteImaging" imaging  bubbles=false }}><span class="octicon octicon-x"></span> {{t 'labels.delete'}}</button>
          {{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>
