<td class="date">{{date-format procmed.requestedDate format="l h:mm A"}}</td>
<td class="requested-by">{{procmed.requestedBy}}</td>
<td class="patient">{{procmed.patient.displayName}}</td>
<td class="type">{{procmed.tipoProcedimiento}}</td>
<td class="notes">{{procmed.notes}}</td>

{{#if showActions}}
  <td>
    {{#if canEdit}}
      {{procmed/index/procmed-edit-button procmed=procmed}}
    {{/if}}
  </td>
{{/if}}
