<table class="table">
  <tr class="table-header">
    <th>{{t 'labels.dateRequested'}}</th>
    <th>{{t 'labels.procmedType'}}</th>
    <th>{{t 'labels.status'}}</th>
    <th>{{t 'patients.labels.dateProcessed'}}</th>
    <th>{{t 'labels.result'}}</th>
    <th>{{t 'labels.notes'}}</th>
    <th>{{t 'labels.requestedBy'}}</th>
    <th>{{t 'labels.actions'}}</th>
  </tr>
  {{#each patientProcmed as |procmed|}}
    <tr {{action "editProcmed" procmed}}>
      <td>{{date-format procmed.requestedDate}}</td>
      <td>{{procmed.tipoProcedimiento}}</td>
      <td>{{procmed.status}}</td>
      <td>{{date-format procmed.procmedDate}}</td>
      <td>{{procmed.result}}</td>
      <td>{{procmed.notes}}</td>
      <td>{{procmed.requestedBy}}</td>
      <td>
        {{#if procmed.canEdit}}
          {{#if canAddProcmed}}
            <button type="button" class="btn btn-default neutral" {{action "editProcmed" procmed}}>{{t 'labels.edit'}}</button>
          {{/if}}
          {{#if canDeleteProcmed}}
            <button type="button" class="btn btn-default warning" {{action "showDeleteProcmed" procmed  bubbles=false }}><span class="octicon octicon-x"></span> {{t 'labels.delete'}}</button>
          {{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>