<td class="requested-date">{{date-format procmed.requestedDate}}</td>
<td class="procmed-date">{{date-format procmed.procmedDate}}</td>
<td class="requested-by">{{procmed.requestedBy}}</td>
<td class="display-name">{{procmed.patient.displayName}}</td>
<td class="type">{{procmed.tipoProcedimiento}}</td>
<td class="results">{{procmed.result}}</td>
<td class="notes">{{procmed.notes}}</td>
