<div class="panel panel-primary">
  <div class="panel-body">
    {{#em-form model=this submitButton=false as |form|}}
      <div class="row" data-test-selector="select-report-type">
        {{form.select
          class='form-input-group col-xs-6'
          content=reportTypes
          id='report-type'
          optionValuePath='value'
          optionLabelPath='name'
          property='reportType'
          label=(t 'inventory.reports.reportType')
        }}
      </div>
      {{#if isStatusReport}}
        {{form.select property="status" label="Estado del Paciente"
          class="form-input-group"
          content=statusList
          prompt=" "
        }}
      {{else}}
        <div class="row">
          <div data-test-selector="select-report-start-date">
            {{date-picker model=this property="startDate" label="Start Date" class="col-sm-4" maxDate="now"}}
          </div>
          <div data-test-selector="select-report-end-date">
            {{date-picker model=this property="endDate" label="End Date" class="col-sm-4" maxDate="now"}}
          </div>
        </div>
      {{/if}}
      {{#if isVisitReport}}
        <div class="row">
          {{form.select class="col-sm-6 form-input-group" label="Tipo de visita"
            property="visitType" content=visitTypes
            prompt=" "
          }}
          {{form.select class="col-sm-6 form-input-group" label="Profesional"
            property="examiner" content=physicianList
            prompt=" "
          }}
        </div>
        <div class="row">
          {{form.select class="col-sm-6 form-input-group" label="Ubicación"
            property="location" content=locationList
            prompt=" "
          }}
          {{form.select class="col-sm-6 form-input-group" label="Clinica"
            property="clinic" content=clinicList
            prompt=" "
          }}
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            {{select-or-typeahead form=form model=model property="diagnosis"
              label="Diagnosis" list=diagnosisList
            }}
          </div>
        </div>

        <h3>{{t "inventory.reports.fields"}}</h3>
        <div class="row">
          <div class="col-xs-1"></div>
          {{form.checkbox label=reportColumns.id.label property="reportColumns.id.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.name.label property="reportColumns.name.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.age.label property="reportColumns.age.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.contacts.label property="reportColumns.contacts.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.dateOfBirth.label property="reportColumns.dateOfBirth.include" class="col-xs-2"}}
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          {{form.checkbox label=reportColumns.examiner.label property="reportColumns.examiner.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.sex.label property="reportColumns.sex.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.primaryDiagnosis.label property="reportColumns.primaryDiagnosis.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.procedures.label property="reportColumns.procedures.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.referredBy.label property="reportColumns.referredBy.include" class="col-xs-2"}}
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          {{form.checkbox label=reportColumns.referredDate.label property="reportColumns.referredDate.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.secondaryDiagnoses.label property="reportColumns.secondaryDiagnoses.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.visitDate.label property="reportColumns.visitDate.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.visitLocation.label property="reportColumns.visitLocation.include" class="col-xs-2"}}
          {{form.checkbox label=reportColumns.visitType.label property="reportColumns.visitType.include" class="col-xs-2"}}
        </div>
      {{/if}}
    {{/em-form}}
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" {{action 'generateReport'}}>{{t 'inventory.reports.generate'}}</button>
  </div>
</div>
{{#if showReportResults}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{reportTitle}}{{nav-paging paginationProps=paginationProps }}</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr class="table-header">
          {{#each reportHeaders as |reportHeader|}}
            <th>
              {{reportHeader}}
            </th>
          {{/each}}
        </tr>
        {{partial "report-rows"}}
      </table>
    </div>
    <div class="panel-footer">
      <a href={{csvExport}} target="_blank" download="{{reportTitle}}.csv" class="btn btn-default">{{t 'inventory.reports.export'}}</a>

    </div>
  </div>
{{/if}}
