
{{#item-listing paginationProps=paginationProps }}
  <div class="panel panel-info">
    <div class="panel-body">
      {{#em-form model=model submitButton=false as |form|}}
        <div class="row">
          {{date-picker model=model property="selectedStartingDate" label=(t "appointments.labels.selectedStartingDate")class="col-sm-3 test-selected-start-date"}}
          {{form.select class="col-sm-3 form-input-group test-selected-status" property="selectedStatus"
              label=(t "models.appointment.labels.status") content=appointmentStatusesWithEmpty
          }}
          {{form.select class="col-sm-3 form-input-group test-selected-appointment-type" label=(t "models.appointment.labels.type")
              property="selectedAppointmentType" content=visitTypesWithEmpty
          }}
          {{form.select class="col-sm-3 form-input-group test-selected-provider" property="selectedProvider"
              label=(t 'models.appointment.labels.provider') content=physicianList
          }}
          {{form.select class="col-sm-3 form-input-group test-selected-turnos" property="selectedTurnos"
              label=(t 'models.appointment.labels.turn') content=appointmentTurnoWithEmpty}}
        </div>
      {{/em-form}}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" {{action 'search'}}>{{t 'buttons.search'}}</button>
    </div>
  </div>
  <table class="table">
    <tr class="table-header">
      {{#sortable-column sortBy='date' sortDesc=sortDesc sortKey=sortKey }}{{t 'models.appointment.labels.appointmentDate'}}{{/sortable-column}}
      <th>{{t 'models.patient.labels.name'}}</th>
      {{#sortable-column sortBy='appointmentType' sortDesc=sortDesc sortKey=sortKey }}{{t 'models.appointment.labels.type'}}{{/sortable-column}}
      {{#sortable-column sortBy='location' sortDesc=sortDesc sortKey=sortKey }}{{t 'models.appointment.labels.contactNumber'}}{{/sortable-column}}
      {{#sortable-column sortBy='provider' sortDesc=sortDesc sortKey=sortKey }}{{t 'models.appointment.labels.provider'}}{{/sortable-column}}
      {{#sortable-column sortBy='status' sortDesc=sortDesc sortKey=sortKey }}{{t 'models.appointment.labels.status'}}{{/sortable-column}}
      {{#sortable-column sortBy='turnos' sortDesc=sortDesc sortKey=sortKey }}{{t 'models.appointment.labels.turn'}}{{/sortable-column}}
      <th>{{t 'labels.actions'}}</th>
    </tr>
    {{#each model as |appointment|}}
      {{partial 'appointments/item'}}
    {{/each}}
  </table>
{{/item-listing}}
