<div class="container">
  <form class="form-signin" role="form" {{action 'authenticate' on='submit'}}>
    <div class="signin-logo">
      <img src="logo_transparente.png" alt="{{t 'common.organization'}}" height="40" width="200">    
    </div>

    <div class="signin-contents">
      <h2 class="form-signin-heading">{{t 'login.messages.signIn'}}</h2>
      {{#if errorMessage}}
        <div class="alert alert-danger form-signin-alert" role="alert">{{t 'login.messages.error'}}</div>
      {{/if}}
      {{#if offlineError}}
        <div class="alert alert-danger form-signin-alert" role="alert">{{t 'login.messages.offlineError'}}</div>
      {{/if}}
      <div class="form-group">
        {{input id='identification' value=identification placeholder=(t 'login.labels.username') class='form-control'}}
      </div>
      <div class="form-group">
        {{input id='password' type='password' value=password placeholder=(t 'login.labels.password') class='form-control'}}
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">{{t 'login.labels.signIn'}}</button>

    </div>
  </form>
</div> {{!-- /container --}}
