{{#edit-panel editPanelProps=editPanelProps}}
  {{#em-form model=model submitButton=false bubbles=false as |form|}}
    {{#unless isNewOrDeleted}}
      {{patient-summary
        patient=model
        patientProcedures=patientProcedures
        disablePatientLink=true
        store=store
        allowAddAllergy=true
        allowAddDiagnosis=true
        allowAddOperativePlan=true
        diagnosisList=diagnosisList
      }}
      <ul class="nav nav-pills tab-nav" role="tablist">
        <li role="presentation" class="active"><a href="#history" role="tab" data-toggle="pill" data-test-selector="history-tab">{{t 'patients.navigation.history'}}</a></li>
        <li role="presentation"><a href="#general" role="tab" data-toggle="pill" data-test-selector="general-tab">{{t 'patients.navigation.general'}}</a></li>
        <li role="presentation"><a href="#photos" role="tab" data-toggle="pill" data-test-selector="photos-tab">{{t 'patients.navigation.photos'}}</a></li>
        <li role="presentation"><a href="#appointments" role="tab" data-toggle="pill" data-test-selector="appointments-tab">{{t 'patients.navigation.appointments'}}</a></li>
        <li role="presentation"><a href="#visits" role="tab" data-toggle="pill" data-test-selector="visits-tab">{{t 'patients.navigation.visits'}}</a></li>
        <li role="presentation"><a href="#medication" role="tab" data-toggle="pill" data-test-selector="medication-tab">{{t 'patients.navigation.medication'}}</a></li>
        <li role="presentation"><a href="#imaging" role="tab" data-toggle="pill" data-test-selector="imaging-tab">{{t 'patients.navigation.imaging'}}</a></li>
        <li role="presentation"><a href="#procmed" role="tab" data-toggle="pill" data-test-selector="procmed-tab">{{t 'patients.navigation.procmed'}}</a></li>
        <li role="presentation"><a href="#labs" role="tab" data-toggle="pill" data-test-selector="labs-tab">{{t 'patients.navigation.labs'}}</a></li>
        {{#if canAddSocialWork}}
          <li role="presentation"><a href="#social" role="tab" data-toggle="pill" data-test-selector="social-tab">{{t 'patients.navigation.socialWork'}}</a></li>
        {{/if}}
      </ul>
    {{/unless}}
    <div class="tab-content">
      {{#unless isNewOrDeleted}}
        <div role="tabpanel" class="tab-pane active" id="history">
          <div class="panel detail-section">
            {{#if canAddNote}}
              <div class="panel-heading clearfix">
                <button type="button" class="btn btn-primary align-right" {{action "showAddPatientNote" bubbles=false on="click"}}>
                  <span class="octicon octicon-plus"></span>{{t 'buttons.newNote'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              {{#if model.visits}}
                {{#each model.visits as |visit|}}
                  <div class="patient-history-item">
                    <div class="patient-history-heading clickable" {{action "editVisit" visit}}>
                      <span class="ph-visit-date">{{visit.visitDate}}</span>
                      <span class="ph-visit-date">{{visit.visitType}}</span>
                      <span class="ph-visit-date">{{visit.examiner}}</span>
                    </div>
                    {{#if visit.procedures}}
                      <div class="ph-note-item">
                        <h5 class="ph-note-heading">{{t 'labels.procedures' }}</h5>
                        {{#each visit.procedures as |procedure|}}
                          <div {{action 'editProcedure' procedure }} class="clickable">
                            <h5 class="ph-note-heading">
                              {{date-format procedure.procedureDate}}:
                              {{procedure.description}}
                              {{procedure.tipoProcedimiento}}
                            </h5>
                          </div>
                        {{/each}}
                      </div>
                    {{/if}}
                    {{#if visit.hasCompletedImaging}}
                      <div class="ph-note-item">
                        <h5 class="ph-note-heading">{{t 'labels.imageOrders' }}</h5>
                        {{#each visit.imaging as |imaging|}}
                          {{#if (eq imaging.status (t 'labels.completed'))}}
                            <h5 class="ph-note-heading">{{date-format imaging.imagingDate}}: {{imaging.imagingType.name}}</h5>
                          {{/if}}
                        {{/each}}
                      </div>
                    {{/if}}
                    {{#if visit.hasCompletedProcmed}}
                      <div class="ph-note-item">
                        <h5 class="ph-note-heading">{{t 'labels.procmedOrders' }}</h5>
                        {{#each visit.procmed as |procmed|}}
                          {{#if (eq procmed.status (t 'labels.completed'))}}
                            <h5 class="ph-note-heading">{{date-format procmed.procmedDate}}: {{procmed.tipoProcedimiento}}</h5>
                          {{/if}}
                        {{/each}}
                      </div>
                    {{/if}}
                    {{#if visit.hasCompletedLabs}}
                      <div class="ph-note-item">
                        <h5 class="ph-note-heading">{{t 'labels.labOrders' }}</h5>
                        {{#each visit.labs as |lab|}}
                          {{#if (eq lab.status (t 'labels.completed'))}}
                            <h5 class="ph-note-heading">{{date-format lab.labDate}}: {{lab.labType.name}}</h5>
                          {{/if}}
                        {{/each}}
                      </div>
                    {{/if}}
                    {{#if visit.hasCompletedMedication}}
                      <div class="ph-note-item">
                        <h5 class="ph-note-heading">{{t 'labels.medication' }}</h5>
                        {{#each visit.medication as |medication|}}
                          {{#if (eq medication.status (t 'lables.fulfilled'))}}
                            <h5 class="ph-note-heading">{{date-format medication.prescriptionDate}}: {{medication.medicationName}}</h5>
                          {{/if}}
                        {{/each}}
                      </div>
                    {{/if}}

                  </div>
                {{/each}}
              {{else}}
                {{t 'messages.noHistoryAvailable'}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/unless}}
      <div role="tabpanel" class="tab-pane {{if isNewOrDeleted 'active'}}" id="general">
        <div class="panel detail-section">
          <div class="panel-body detail-section-content">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <table>
                    {{#if isNewOrDeleted}}
                      <tr>
                        <td style="padding:0; margin-left;margin-top">{{form.input property="cedula" label=(t 'patients.labels.documentNumber') class="col-xs-10 required test-first-cedula"}}</td>
                        <td>
                          <button type="button" class="btn btn-primary align-right" {{action "importAction" model.cedula}}>
                            {{t 'labels.search'}}
                          </button>
                        </td>
                      </tr>
                    {{else}}
                    <tr>
                      <td style="padding:0; margin-left;margin-top">{{form.input property="cedula" disabled="true" label=(t 'patients.labels.documentNumber') class="col-xs-10 required test-first-cedula"}}</td>
                      <td>
                        <button type="button" class="btn btn-primary align-right"  disabled {{action "importAction" model.cedula}}>
                          {{t 'labels.search'}}
                        </button>
                      </td>
                    </tr>
                  {{/if}}
                </table>
                <br>
                {{form.input property="firstName" label=(t 'patients.labels.firstName') class="form-input-group required test-first-name"}}
                {{form.input property="lastName" label=(t 'patients.labels.lastName') class="form-input-group required test-last-name"}}
                {{select-or-typeahead form=form model=model property="sex" label=(t 'patients.labels.sex')  class="form-input-group" list=sexList selection=model.sex}}
                {{date-picker model=model property="dateOfBirth" label=(t 'patients.labels.dateOfBirth')  class="form-input-group " maxDate="now"}}
                <div class="form-input-group">
                  <label class="control-label">{{t 'labels.age'}}</label>
                  <p class="form-control-static">{{model.age}}</p>
                </div>
                <div class="form-input-group">
                  <label>{{t 'patients.labels.patientType'}}</label>
                  <div>
                    {{ext-radio content=patientTypes value=model.patientType showInline=true }}
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                {{form.input property="externalPatientId" label=(t 'patients.labels.externalPatientId') class="form-input-group"}}
                {{form.select
                  prompt=" "
                  label=(t 'patients.labels.bloodType')
                  property="bloodType"
                  content=bloodTypes
                  class="form-input-group"
                }}
                {{form.input property="placeOfBirth" label=(t 'patients.labels.placeOfBirth') class="form-input-group"}}
                {{form.input property="occupation" label=(t 'patients.labels.occupation')  class="form-input-group"}}
                {{form.input property="parent" label=(t 'patients.labels.parent') class="form-input-group"}}
                <table>
                  <tr>
                    <td>{{em-input property="parentCi" label=(t 'patients.labels.parentDocument') class="col-xs-10" align="center"}}</td>
                    <td>
                      <button type="button" class="btn btn-primary align-right" {{action "importParentAction" model.parentCi}}>
                        {{t 'labels.search'}}
                      </button>
                    </td>
                </tr>
              </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel detail-section">
          <div class="panel-body detail-section-content">
            <div class="row">
              {{form.input property="phone" label=(t 'patients.labels.phone')class="col-xs-12 col-sm-6"}}
              {{form.input property="email" type="email" label=(t 'labels.email') class="col-xs-12 col-sm-6"}}
              {{#if haveAddressOptions}}
                {{#if address1Include}}
                  {{form.text label=address1Label property="address" rows=3 class="col-xs-12 col-sm-6"}}
                {{/if}}
                {{#if address2Include}}
                  {{form.input label=address2Label property="address2" class="col-xs-12 col-sm-6" }}
                {{/if}}
                {{#if address3Include}}
                  {{form.input label=address3Label property="address3" class="col-xs-12 col-sm-6" }}
                {{/if}}
                {{#if address4Include}}
                  {{form.input label=address4Label property="address4" class="col-xs-12 col-sm-6" }}
                {{/if}}
              {{else}}
                {{form.text label=(t 'labels.address') property="address" rows=3  class="col-xs-12 col-sm-6"}}
              {{/if}}
              {{select-or-typeahead form=form model=model property="country" label=(t 'labels.country') list=countryList selection=model.country className="col-xs-12 col-sm-6 required" }}
            </div>
          </div>
          {{#if haveAdditionalContacts}}
            <h4>{{t 'patients.titles.additionalContacts'}}</h4>
            <table class="table">
              <tr class="table-header">
                <th>{{t 'labels.name'}}</th>
                <th>{{t 'patients.labels.phone'}}</th>
                <th>{{t 'labels.email'}}</th>
                <th>{{t 'patients.labels.relationship'}}</th>
                {{#if canDeleteContact}}
                  <th>{{t 'labels.action'}}</th>
                {{/if}}
              </tr>
              {{#each model.additionalContacts as |additionalContact|}}
                <tr>
                  <td>{{additionalContact.name}}</td>
                  <td>{{additionalContact.phone}}</td>
                  <td>{{additionalContact.email}}</td>
                  <td>{{additionalContact.relationship}}</td>
                  {{#if canDeleteContact}}
                    <td>
                      <button type="button" class="btn btn-default warning" {{action "showDeleteContact" additionalContact bubbles=false }}>
                        <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                      </button>
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
            </table>
          {{/if}}
        </div>
        {{custom-form-manager model=model formType="patient" rapidForm=form}}
      </div>
      {{#unless isNewOrDeleted}}
        <div role="tabpanel" class="tab-pane" id="photos">
          <div class="panel">
            {{#if canAddPhoto}}
              <div class="panel-heading">
                <button type="button" class="btn btn-primary align-right" {{action "showAddPhoto" bubbles=false }}>
                  <span class="octicon octicon-plus"></span>{{t 'patients.buttons.newPhoto'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              <div class="row">
                {{#each model.photos as |photo|}}
                  <div class="col-sm-4 col-md-3">
                    <div {{action "editPhoto" photo}} class="thumbnail">
                      {{photo-display photo=photo }}
                      <div class="caption">
                        {{photo.caption}}
                        <p>
                          {{#if canAddPhoto}}
                            <button type="button" class="btn btn-default neutral" {{action "editPhoto" photo}}>{{t 'labels.edit'}}</button>
                          {{/if}}
                          {{#if canDeletePhoto}}
                            <button type="button" class="btn btn-default warning" {{action "showDeletePhoto" photo bubbles=false }}>
                              <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                            </button>
                          {{/if}}
                        </p>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="procmed">
          <div class="panel">
            {{#if canAddImaging}}
              <div class="panel-heading">
                <button type="button" class="btn btn-primary align-right" {{action "newProcmed" bubbles=false }}>
                  <span class="octicon octicon-plus"></span> {{t 'patients.buttons.newProcmed'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              {{partial 'patients/procmed'}}
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="appointments">
          <div class="panel">
            {{#if canAddAppointment}}
              <div class="panel-heading">
                <div class="right">
                  <button type="button" class="btn btn-primary" data-test-selector="appointments-btn" {{action "newAppointment" bubbles=false }}>
                    <span class="octicon octicon-plus"></span>{{t 'patients.buttons.newAppointment'}}
                  </button>&nbsp;
                  <button type="button" class="btn btn-primary" data-test-selector="scheduleSurgery-btn" {{action "newSurgicalAppointment" bubbles=false }}>
                    <span class="octicon octicon-plus"></span>{{t 'patients.buttons.scheduleSurgery'}}
                  </button>
                </div>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              <table class="table">
                <tr class="table-header">
                  <th>{{t 'labels.date'}}</th>
                  <th>{{t 'visits.labels.examiner'}}</th>
                  <th>{{t 'labels.location'}}</th>
                  <th>{{t 'labels.type'}}</th>
                  <th>{{t 'labels.status'}}</th>
                  <th>{{t 'labels.actions'}}</th>
                </tr>
                {{#each model.appointments as |appointment|}}
                  <tr {{action "editAppointment" appointment}} class="{{if canAddAppointment "clickable"}}">
                    <td>{{appointment.formattedAppointmentDate}}</td>
                    <td>{{appointment.provider}}</td>
                    <td>{{appointment.location}}</td>
                    <td>{{appointment.appointmentType}}</td>
                    <td>{{appointment.displayStatus}}</td>
                    <td>
                      {{#if canAddAppointment}}
                        <button type="button" class="btn btn-default neutral" {{action "editAppointment" appointment}}>{{t 'labels.edit'}}</button>
                      {{/if}}
                      {{#if canDeleteAppointment}}
                        <button type="button" class="btn btn-default warning" {{action "showDeleteAppointment" appointment  bubbles=false }}>
                          <span class="octicon octicon-x"></span> {{t 'buttons.delete'}}
                        </button>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="visits">
          <div class="panel">
            {{#if canAddVisit}}
              <div class="panel-heading">
                <button type="button" class="btn btn-primary align-right" {{action "newVisit" bubbles=false }}>
                  <span class="octicon octicon-plus"></span> {{t 'patients.buttons.newVisit'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              <table class="table" >
                <tr class="table-header">
                  <th>{{t 'labels.startDate'}}</th>
                  <th>{{t 'labels.endDate'}}</th>
                  <th>{{t 'visits.labels.diagnosis'}}</th>
                  <th>{{t 'labels.provider'}}</th>
                  <th>{{t 'labels.location'}}</th>
                  <th>{{t 'labels.type'}}</th>
                  <th>{{t 'labels.actions'}}</th>
                </tr>
                {{#each model.visits as |visit|}}
                  <tr {{action "editVisit" visit}} class="{{if canAddVisit "clickable"}}">
                    <td>{{date-format visit.startDate}}</td>
                    <td>{{date-format visit.endDate}}</td>
                    <td>{{visit.primaryDiagnoses}}</td>
                    <td>{{visit.examiner}}</td>
                    <td>{{visit.location}}</td>
                    <td>{{visit.visitType}}</td>
                    <td>
                      {{#if canAddVisit}}
                        <button type="button" class="btn btn-default neutral" {{action "editVisit" visit}}>{{t 'labels.edit'}}</button>
                      {{/if}}
                      {{#if canDeleteVisit}}
                        <button type="button" class="btn btn-default warning" {{action "showDeleteVisit" visit bubbles=false }}><span class="octicon octicon-x"></span> {{t 'buttons.delete'}}</button>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="medication">
          <div class="panel">
            {{#if canAddMedication}}
              <div class="panel-heading">
                <button type="button" class="btn btn-primary align-right" {{action "newMedication" bubbles=false }}>
                  <span class="octicon octicon-plus"></span>{{t 'patients.buttons.newMedication'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              {{partial 'patients/medication'}}
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="imaging">
          <div class="panel">
            {{#if canAddImaging}}
              <div class="panel-heading">
                <button type="button" class="btn btn-primary align-right" {{action "newImaging" bubbles=false }}>
                  <span class="octicon octicon-plus"></span> {{t 'patients.buttons.newImaging'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              {{partial 'patients/imaging'}}
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="labs">
          <div class="panel">
            {{#if canAddLab}}
              <div class="panel-heading">
                <button type="button" class="btn btn-primary align-right" {{action "newLab" bubbles=false }}>
                  <span class="octicon octicon-plus"></span> {{t 'patients.buttons.newLab'}}
                </button>
              </div>
            {{/if}}
            <div class="panel-body detail-section-content">
              {{partial 'patients/labs'}}
            </div>
          </div>
        </div>
        {{#if canAddSocialWork}}
          <div role="tabpanel" class="tab-pane" id="social">
            <div class="panel">
              <div class="panel-body detail-section-content">
                <h4>
                  {{t 'patients.titles.familyInformation'}}
                  <button type="button" class="btn btn-primary align-right" {{ action "showEditFamily" bubbles=false }}>
                    <span class="octicon octicon-plus"></span> {{t 'patients.buttons.addFamilyMember'}}
                  </button>
                </h4>
                <table class="table">
                  <tr class="table-header">
                    <th>{{t 'labels.name'}}</th>
                    <th>{{t 'labels.age'}}</th>
                    <th>{{t 'patients.labels.civilStatus'}}</th>
                    <th>{{t 'patients.labels.relationship'}}</th>
                    <th>{{t 'patients.labels.education'}}</th>
                    <th>{{t 'patients.labels.occupation'}}</th>
                    <th>{{t 'patients.labels.income'}}</th>
                    <th>{{t 'patients.labels.insurance'}}</th>
                    <th>{{t 'labels.action'}}</th>
                  </tr>
                  {{#each model.familyInfo as |info|}}
                    <tr>
                      <td>{{info.name}}</td>
                      <td>{{info.age}}</td>
                      <td>{{info.civilStatus}}</td>
                      <td>{{info.relationship}}</td>
                      <td>{{info.education}}</td>
                      <td>{{info.occupation}}</td>
                      <td>{{info.income}}</td>
                      <td>{{info.insurance}}</td>
                      <td>
                        <button type="button" class="btn btn-default neutral" {{action "showEditFamily" info}}>{{t 'labels.edit'}}</button>
                        {{#if canDeleteSocialWork}}
                          <button type="button" class="btn btn-default warning" {{action "showDeleteFamily" info bubbles=false }}>
                            <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                          </button>
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                </table>
                <h4>
                  {{t 'patients.titles.expenses'}}
                  <button type="button" class="btn btn-primary align-right" {{action "showEditExpense" bubbles=false }}>
                    <span class="octicon octicon-plus"></span>{{t 'patients.buttons.addExpense'}}
                  </button>
                </h4>
                <table class="table">
                  <tr class="table-header">
                    <th>{{t 'labels.category'}}</th>
                    <th>{{t 'patients.labels.sources'}}</th>
                    <th>{{t 'patients.labels.monthlyCost'}}</th>
                    <th>{{t 'labels.actions'}}</th>
                  </tr>
                  {{#each model.expenses as |expense|}}
                    <tr>
                      <td>{{expense.category}}</td>
                      <td>{{expense.sources}}</td>
                      <td>{{expense.cost}}</td>
                      <td>
                        <button type="button" class="btn btn-default neutral" {{action "showEditExpense" expense}}>{{t 'labels.edit'}}</button>
                        {{#if canDeleteSocialWork}}
                          <button type="button" class="btn btn-default warning" {{action "showDeleteExpense" expense bubbles=false }}>
                            <span class="octicon octicon-x"></span>{{t 'buttons.delete'}}
                          </button>
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                  {{#if showExpenseTotal}}
                    <tr>
                      <td colspan="2"><b>{{t 'patients.labels.totalMontlyExpense'}}</b></td>
                      <td>{{totalExpenses}}</td>
                      <td></td>
                    </tr>
                  {{/if}}
                </table>
                {{custom-form-manager model=model formType="socialwork" rapidForm=form}}
              </div>
            </div>
          </div>
        {{/if}}
      {{/unless}}
    </div>
  {{/em-form}}
  <div class="alert alert-success message" style="display:none;"></div>
{{/edit-panel}}
